kicad/boardloaf-he-backups
kicad/boardloaf-he.kicad_prl
kicad/fp-info-cache
kicad/~boardloaf-he.kicad_sch.lck
kicad/~boardloaf-he.kicad_pcb.lck
kicad/~boardloaf-he.kicad_pro.lck
kicad/fp-755C.tmp
kicad/\#auto_saved_files\#
kicad/_autosave-boardloaf-he.kicad_sch
